<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>

    <!-- bootsrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!--style css-->
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="text-white-50 bg-dark">

    <header class="bg-secondary fixed-top">

        <!-- navbar -->
        <nav class="navbar justify-content-end">
            <ul class="nav nav-pills p-2" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active navbar-brand" href="/"
                        aria-controls="pills-home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link navbar-brand" id="pills-about-tab"  href="/about"
                        role="tab" aria-controls="pills-about" aria-selected="false">About</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link navbar-brand" 
                        href="/portfolio" role="tab" aria-controls="pills-portfolio"
                        aria-selected="false">portfolio</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link navbar-brand"  href="/contact"
                        role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <!-- hero page -->
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                tabindex="0">

                <div class="container-fluid">
                    <div class="row">
                        <div class="hero d-flex justify-content-end align-items-center p-5">
                            <div class="col-4">
                                <h3 class="pb-3"> HI THERE !</h3>
                                <div class="display-6 pb-3">
                                    I'M A KRUPALI LATHIYA
                                </div>
                                <p class="fs-5">
                                    I'm a web-Developer based in gujrat, india.I strives to build immersive and
                                    beautiful
                                    web applications
                                    through carefully crafted code and user-centric design.
                                </p>
                                <div class="hero-btn">
                                    <a href="#" class="btn btn-dark btn-lg rounded-pill px-5 fs-6 me-3">MORE ABOUt ME</a>
                                    <a href="#"
                                        class="btn btn-outline-warning btn-lg rounded-pill px-5 fs-6">PORTFOLIO</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
</body>

</html>